APP_SECRET_KEY= à générer avec python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
APP_ENCRYPTION_KEY= à générer avec python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
DATABASE_PATH=/data/app.db
